.Breadcrumb {
  @apply bg-primary-500 !important;
}
.breadcrumbLink {
  @apply text-white;
}
.Breadcrumb svg {
  @apply text-white;
}
.choices__item--selectable {
  margin-bottom: 0 !important;
}
.choices__input.choices__input--cloned {
  margin: 0 !important;
  padding: 0 !important;
}
.choices__button {
  margin: 0px 8px 0 -4px !important;
  border-left: none !important;
  border-right: 1px solid #fff !important;

  filter: invert(1) !important;
}

.choices__list--multiple .choices__item {
  background-color: #edf8fb !important;
  border: 1px solid #edf8fb !important;
  color: #1a404a !important;
  padding: 5px 12px !important;
  font-size: 14px !important;
}
.input-choice {
  padding-right: 40px !important;
}
.choices {
  margin-bottom: 0px !important;
}
